<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-AWSCoreFramework"
	version="2.5.6">
	<name>AWSCoreFramework Plugin</name>
	<description>This plugin adds the AWSCoreFramework library to project</description>
	<license>MIT</license>
	<keywords>cordova,AWSCore</keywords>
	<engines>
		<engine name="cordova" version=">=4.0.0" />
	</engines>

	<platform name="ios">
		<hook type="after_plugin_install" src="hooks/mcd_add_aws_run_script.js" />	
		<hook type="before_plugin_rm" src="hooks/mcd_rm_aws_run_script.js" />	
		
		<framework src="src/ios/AWSCore.framework" embed="true" custom="true"/>
        <!--
        <framework src="Foundation.framework" weak="true" />
        <framework src="CFNetwork.framework" />
        <framework src="Security.framework" />
        <framework src="SystemConfiguration.framework" />
    -->
	</platform>
</plugin>